CONFIG_LOCALVERSION="-em95"

# Disable unused platforms
CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_ALPINE=n
CONFIG_ARCH_BCM2835=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_ARCH_BERLIN=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_ARCH_LG1K=n
CONFIG_ARCH_HISI=n
CONFIG_ARCH_MEDIATEK=n
#CONFIG_ARCH_MESON=y
CONFIG_ARCH_MVEBU=n
CONFIG_ARCH_QCOM=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ARCH_SHMOBILE=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_R8A7795=n
CONFIG_ARCH_R8A7796=n
CONFIG_ARCH_STRATIX10=n
CONFIG_ARCH_TEGRA=n
CONFIG_ARCH_SPRD=n
CONFIG_ARCH_THUNDER=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_VULCAN=n
CONFIG_ARCH_XGENE=n
CONFIG_ARCH_ZX=n
CONFIG_ARCH_ZYNQMP=n

# Disable Sound card support
CONFIG_SOUND=n

# Disable unuse bus
CONFIG_PCI=n

CONFIG_VIRTUALIZATION=n
CONFIG_XEN=n
CONFIG_IPV6=n
CONFIG_DRM_HISI_KIRIN=n

CONFIG_USB_SERIAL=m
CONFIG_USB_SERIAL_CP210X=m

CONFIG_STAGING=y
CONFIG_R8188EU=m
CONFIG_88EU_AP_MODE=y

# Enable front panel LED display
CONFIG_AM_INPUT=y
CONFIG_VFD_SUPPORT=y

# Enable kernel support for TLS protocol
CONFIG_TLS=m

# Enable and setup governors
CONFIG_CPU_FREQ_GOV_POWERSAVE=m
CONFIG_CPU_FREQ_GOV_USERSPACE=m
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=m
# CPU frequency transition statistics
CONFIG_CPU_FREQ_STAT=y
