CONFIG_LOCALVERSION_AUTO=n
CONFIG_LOCALVERSION="-em95"
CONFIG_DEFAULT_HOSTNAME="em95"

#
# Boot options
#
CONFIG_CMDLINE="console=ttyAML0,115200 earlyprintk=serial-meson,0xc81004c0"
CONFIG_EFI=n

#Is not clearly a good thing:
CONFIG_AUDIT=n

# Module config
#CONFIG_MODULE_COMPRESS=y
#CONFIG_MODULE_COMPRESS_GZIP=y

# Disable unused platforms
CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_ALPINE=n
CONFIG_ARCH_BCM2835=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_ARCH_BERLIN=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ARCH_K3=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_ARCH_LG1K=n
CONFIG_ARCH_HISI=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_ARCH_MVEBU=n
CONFIG_ARCH_QCOM=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_R8A7795=n
CONFIG_ARCH_R8A7796=n
CONFIG_ARCH_STRATIX10=n
CONFIG_ARCH_TEGRA=n
CONFIG_ARCH_SPRD=n
CONFIG_ARCH_THUNDER=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_XGENE=n
CONFIG_ARCH_ZX=n
CONFIG_ARCH_ZYNQMP=n

CONFIG_NUMA=n

# Disable Sound card support
CONFIG_SOUND=n

# Disable unuse bus
CONFIG_PCI=n

CONFIG_GPIO_XGENE=n
CONFIG_GPIO_PL061=n
CONFIG_GPIO_MB86S7X=n
CONFIG_GPIO_DWAPB=n

CONFIG_MMC_SDHCI_F_SDH30=n

CONFIG_VIRTUALIZATION=n
CONFIG_XEN=n
CONFIG_IPV6=n

#
# Display devices options
#
CONFIG_BACKLIGHT_LCD_SUPPORT=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_DRM_I2C_ADV7511=n
CONFIG_DRM_I2C_ADV7533=n
CONFIG_FB_ARMCLCD=n
CONFIG_DRM_I2C_CH7006=n
CONFIG_DRM_I2C_SIL164=n

CONFIG_USB_SERIAL=m
CONFIG_USB_SERIAL_CP210X=m

CONFIG_STAGING=y
CONFIG_R8188EU=m
CONFIG_88EU_AP_MODE=y

# Enable front panel LED display
CONFIG_AM_INPUT=y
CONFIG_VFD_SUPPORT=y
CONFIG_VFD_NO_KEY_INPUT=y
CONFIG_VFD_NO_DELAYS=y

# Network
CONFIG_BPF_SYSCALL=y

CONFIG_XZ_DEC_X86=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_XZ_DEC_IA64=n
CONFIG_XZ_DEC_SPARC=n

#Debug
CONFIG_EXPERT=y
CONFIG_DEBUG_INFO=n
